.container {
	background: lavender;
	padding-bottom: 10px;
}

h1 {
	background: AntiqueWhite; 
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	line-height: 90px;
	color: black;
	text-align: center;

} 
.instructions {
	padding: 30px 20px 30px 40px; 
	font-size: 16px;
	max-width: 800px;	
	max-height: 400px;	
	background-color: AliceBlue;
	font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

.match {
	height: 50px;
	width: 225px;
	line-height: 30px;
}

h4 {
	background: AntiqueWhite;
	width: 150px;
	height: 50px;

}

.gems {
	margin-bottom: 25px;
}

.gemImage {

	border: solid AliceBlue 10px;
}